# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# cursor
development_plan.md

# Ignore all fonts files since we pull them from a private repository at build time and generate source code.
packages/fonts/src/*

.direnv

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
