packages/contracts/contracts
**/pnpm-lock.yaml
packages/contracts/src/generated.ts
packages/ui/src/components/shadcn
packages/ui/src/hooks
packages/ui/src/lib
packages/ui/src/styles
packages/ui2/src/components/shadcn
packages/ui2/src/hooks
packages/ui2/src/lib
packages/ui2/src/styles