@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

:root {
  --radius: 0.25rem;
  --background: oklch(0.1163 0.0062 285.4);
  --foreground: oklch(1 0 0);
  --card: oklch(0.212 0.0134 258.37);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.17 0.02 250);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.94 0.0069 247.9);
  --secondary: oklch(0.37 0.04 240);
  --secondary-foreground: oklch(0.71 0.0368 252.35);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.59 0.2415 29.52);
  --border: oklch(0.2894 0.03 254.71);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --breakpoint-*: initial;
  --breakpoint-xs: 42rem;
  --breakpoint-sm: 64rem;
  --breakpoint-md: 80rem;
  --breakpoint-lg: 90rem;
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans tracking-wider;
  }
  button {
    @apply font-mono;
  }
  /* Added this because shadcn/ui removed button pointer behavior with Tailwind v4 */
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

