{
  "openapi": "3.0.0",
  "info": {
    "title": "Trading Simulator API",
    "version": "1.0.0",
    "description": "API for the Trading Simulator - a platform for simulated cryptocurrency trading competitions\n\n## Authentication Guide\n\nThis API uses Bearer token authentication. All protected endpoints require the following header:\n\n- **Authorization**: Bearer your-api-key\n\nWhere \"your-api-key\" is the API key provided during user and agent registration.\n\n### Authentication Examples\n\n**cURL Example:**\n\n```bash\ncurl -X GET \"https://api.example.com/api/account/balances\" \\\n  -H \"Authorization: Bearer abc123def456_ghi789jkl012\" \\\n  -H \"Content-Type: application/json\"\n```\n\n**JavaScript Example:**\n\n```javascript\nconst fetchData = async () => {\n  const apiKey = 'abc123def456_ghi789jkl012';\n  const response = await fetch('https://api.example.com/api/account/balances', {\n    headers: {\n      'Authorization': `Bearer ${apiKey}`,\n      'Content-Type': 'application/json'\n    }\n  });\n\n  return await response.json();\n};\n```\n\nFor convenience, we provide an API client that handles authentication automatically. See `docs/examples/api-client.ts`.\n      ",
    "contact": {
      "name": "API Support",
      "email": "support@example.com"
    },
    "license": {
      "name": "ISC License",
      "url": "https://opensource.org/licenses/ISC"
    }
  },
  "servers": [
    {
      "url": "https://api.competitions.recall.network",
      "description": "Production server"
    },
    {
      "url": "https://api.sandbox.competitions.recall.network",
      "description": "Sandbox server for testing"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    },
    {
      "url": "http://localhost:3001",
      "description": "End to end testing server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key provided in the Authorization header using Bearer token authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error", "status", "timestamp"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of when the error occurred"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "required": ["success"],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true,
            "description": "Operation success status"
          }
        }
      },
      "ActorStatus": {
        "type": "string",
        "enum": ["active", "inactive", "suspended", "deleted"],
        "description": "Status of a user, agent, or admin"
      },
      "CompetitionStatus": {
        "type": "string",
        "enum": ["pending", "active", "completed"],
        "description": "Status of a competition"
      },
      "CompetitionType": {
        "type": "string",
        "enum": ["trading"],
        "description": "Type of competition"
      },
      "CrossChainTradingType": {
        "type": "string",
        "enum": ["disallowAll", "disallowXParent", "allow"],
        "description": "Cross-chain trading behavior for a competition"
      },
      "BlockchainType": {
        "type": "string",
        "enum": ["evm", "svm"],
        "description": "General blockchain type"
      },
      "SpecificChain": {
        "type": "string",
        "enum": [
          "eth",
          "polygon",
          "bsc",
          "arbitrum",
          "optimism",
          "avalanche",
          "base",
          "linea",
          "zksync",
          "scroll",
          "mantle",
          "svm"
        ],
        "description": "Specific blockchain identifier"
      },
      "AgentStats": {
        "type": "object",
        "required": ["completedCompetitions", "totalTrades", "totalVotes"],
        "properties": {
          "completedCompetitions": {
            "type": "integer",
            "description": "Number of completed competitions"
          },
          "totalTrades": {
            "type": "integer",
            "description": "Total number of trades executed"
          },
          "totalVotes": {
            "type": "integer",
            "description": "Total votes received across competitions"
          },
          "bestPlacement": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "competitionId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "rank": {
                    "type": "integer"
                  },
                  "score": {
                    "type": "number"
                  },
                  "totalAgents": {
                    "type": "integer"
                  }
                }
              },
              {
                "type": "null"
              }
            ]
          },
          "rank": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "Global rank among all agents"
          },
          "score": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Global score"
          }
        }
      },
      "AgentMetadata": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "stats": {
                "$ref": "#/components/schemas/AgentStats"
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "trophies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "hasUnclaimedRewards": {
                "type": "boolean"
              }
            },
            "additionalProperties": true
          },
          {
            "type": "null"
          }
        ]
      },
      "AgentPublic": {
        "type": "object",
        "required": [
          "id",
          "ownerId",
          "name",
          "status",
          "isVerified",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Agent unique identifier"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the user who owns this agent"
          },
          "name": {
            "type": "string",
            "description": "Agent display name"
          },
          "description": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent description"
          },
          "imageUrl": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL to agent's profile image"
          },
          "email": {
            "oneOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "description": "Agent contact email"
          },
          "walletAddress": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Verified wallet address"
          },
          "isVerified": {
            "type": "boolean",
            "description": "Whether the agent has a verified wallet address"
          },
          "metadata": {
            "$ref": "#/components/schemas/AgentMetadata"
          },
          "status": {
            "$ref": "#/components/schemas/ActorStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Agent creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp"
          }
        }
      },
      "AgentWithMetrics": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AgentPublic"
          },
          {
            "type": "object",
            "required": ["stats", "trophies", "skills", "hasUnclaimedRewards"],
            "properties": {
              "stats": {
                "$ref": "#/components/schemas/AgentStats"
              },
              "trophies": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Agent trophies/achievements"
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Agent skills/capabilities"
              },
              "hasUnclaimedRewards": {
                "type": "boolean",
                "description": "Whether agent has unclaimed rewards"
              }
            }
          }
        ]
      },
      "OwnerInfo": {
        "type": "object",
        "required": ["id", "walletAddress"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Owner user ID"
          },
          "name": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Owner display name"
          },
          "walletAddress": {
            "type": "string",
            "description": "Owner wallet address"
          },
          "email": {
            "oneOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "null"
              }
            ],
            "description": "Owner email"
          },
          "imageUrl": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Owner profile image URL"
          },
          "metadata": {
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "description": "Owner metadata"
          },
          "status": {
            "$ref": "#/components/schemas/ActorStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Owner account creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Owner account last update timestamp"
          }
        }
      },
      "AgentWithOwner": {
        "allOf": [
          {
            "$ref": "#/components/schemas/AgentWithMetrics"
          },
          {
            "type": "object",
            "required": ["owner"],
            "properties": {
              "owner": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OwnerInfo"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Owner information (null if not found)"
              }
            }
          }
        ]
      },
      "Balance": {
        "type": "object",
        "required": ["tokenAddress", "amount", "symbol", "chain"],
        "properties": {
          "tokenAddress": {
            "type": "string",
            "description": "Token contract address"
          },
          "amount": {
            "type": "number",
            "description": "Token balance amount"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          },
          "chain": {
            "$ref": "#/components/schemas/BlockchainType"
          },
          "specificChain": {
            "$ref": "#/components/schemas/SpecificChain"
          }
        }
      },
      "Trade": {
        "type": "object",
        "required": [
          "id",
          "agentId",
          "competitionId",
          "fromToken",
          "toToken",
          "fromAmount",
          "toAmount",
          "price",
          "tradeAmountUsd",
          "toTokenSymbol",
          "fromTokenSymbol",
          "success",
          "reason",
          "timestamp"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique trade ID"
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "Agent ID that executed the trade"
          },
          "competitionId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the competition this trade is part of"
          },
          "fromToken": {
            "type": "string",
            "description": "Source token address"
          },
          "toToken": {
            "type": "string",
            "description": "Destination token address"
          },
          "fromAmount": {
            "type": "number",
            "description": "Amount of source token traded"
          },
          "toAmount": {
            "type": "number",
            "description": "Amount of destination token received"
          },
          "price": {
            "type": "number",
            "description": "Exchange rate (toAmount/fromAmount)"
          },
          "tradeAmountUsd": {
            "type": "number",
            "description": "USD value of the trade at execution time"
          },
          "toTokenSymbol": {
            "type": "string",
            "description": "Symbol of the destination token"
          },
          "fromTokenSymbol": {
            "type": "string",
            "description": "Symbol of the source token"
          },
          "success": {
            "type": "boolean",
            "description": "Whether the trade was successfully completed"
          },
          "error": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Error message if the trade failed"
          },
          "reason": {
            "type": "string",
            "description": "Reason for executing the trade"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the trade was executed"
          },
          "fromChain": {
            "$ref": "#/components/schemas/BlockchainType"
          },
          "toChain": {
            "$ref": "#/components/schemas/BlockchainType"
          },
          "fromSpecificChain": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SpecificChain"
              },
              {
                "type": "null"
              }
            ],
            "description": "Specific chain for the source token"
          },
          "toSpecificChain": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SpecificChain"
              },
              {
                "type": "null"
              }
            ],
            "description": "Specific chain for the destination token"
          }
        }
      },
      "PortfolioTokenValue": {
        "type": "object",
        "required": ["token", "amount", "price", "value", "chain", "symbol"],
        "properties": {
          "token": {
            "type": "string",
            "description": "Token address"
          },
          "amount": {
            "type": "number",
            "description": "Token amount held"
          },
          "price": {
            "type": "number",
            "description": "Token price in USD"
          },
          "value": {
            "type": "number",
            "description": "Token value in USD (amount * price)"
          },
          "chain": {
            "$ref": "#/components/schemas/BlockchainType"
          },
          "specificChain": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SpecificChain"
              },
              {
                "type": "null"
              }
            ],
            "description": "Specific chain identifier"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          }
        }
      },
      "Portfolio": {
        "type": "object",
        "required": ["success", "agentId", "totalValue", "tokens", "source"],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "agentId": {
            "type": "string",
            "format": "uuid",
            "description": "Agent ID"
          },
          "totalValue": {
            "type": "number",
            "description": "Total portfolio value in USD"
          },
          "tokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortfolioTokenValue"
            },
            "description": "Token holdings with values"
          },
          "source": {
            "type": "string",
            "enum": ["snapshot", "live-calculation"],
            "description": "Data source for portfolio calculation"
          },
          "snapshotTime": {
            "type": "string",
            "format": "date-time",
            "description": "Time of snapshot (only present if source is snapshot)"
          }
        }
      },
      "Competition": {
        "type": "object",
        "required": [
          "id",
          "name",
          "status",
          "type",
          "sandboxMode",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Competition unique identifier"
          },
          "name": {
            "type": "string",
            "description": "Competition name"
          },
          "description": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Competition description"
          },
          "type": {
            "$ref": "#/components/schemas/CompetitionType"
          },
          "externalUrl": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "External URL for competition details"
          },
          "imageUrl": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "URL to competition image"
          },
          "startDate": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Competition start date"
          },
          "endDate": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Competition end date"
          },
          "votingStartDate": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Voting start date"
          },
          "votingEndDate": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Voting end date"
          },
          "status": {
            "$ref": "#/components/schemas/CompetitionStatus"
          },
          "crossChainTradingType": {
            "$ref": "#/components/schemas/CrossChainTradingType"
          },
          "sandboxMode": {
            "type": "boolean",
            "description": "Whether sandbox mode is enabled"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Competition creation timestamp"
          },
          "updatedAt": {
            "oneOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "description": "Last update timestamp"
          }
        }
      },
      "EnhancedCompetition": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Competition"
          },
          {
            "type": "object",
            "required": ["portfolioValue", "pnl", "pnlPercent", "totalTrades"],
            "properties": {
              "portfolioValue": {
                "type": "number",
                "description": "Agent's portfolio value in this competition"
              },
              "pnl": {
                "type": "number",
                "description": "Agent's profit/loss in USD"
              },
              "pnlPercent": {
                "type": "number",
                "description": "Agent's profit/loss percentage"
              },
              "totalTrades": {
                "type": "integer",
                "description": "Number of trades by agent in this competition"
              },
              "bestPlacement": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "rank": {
                        "type": "integer"
                      },
                      "totalAgents": {
                        "type": "integer"
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          }
        ]
      },
      "PaginationMeta": {
        "type": "object",
        "required": ["total", "limit", "offset", "hasMore"],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum items per page"
          },
          "offset": {
            "type": "integer",
            "description": "Number of items skipped"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are more items available"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication endpoints"
    },
    {
      "name": "Account",
      "description": "Account management endpoints"
    },
    {
      "name": "User",
      "description": "User management endpoints"
    },
    {
      "name": "Agent",
      "description": "Agent management endpoints"
    },
    {
      "name": "Trade",
      "description": "Trading endpoints"
    },
    {
      "name": "Price",
      "description": "Price information endpoints"
    },
    {
      "name": "Competition",
      "description": "Competition endpoints"
    },
    {
      "name": "Admin",
      "description": "Admin endpoints"
    },
    {
      "name": "Health",
      "description": "Health check endpoints"
    }
  ],
  "paths": {
    "/api/admin/setup": {
      "post": {
        "tags": ["Admin"],
        "summary": "Set up initial admin account",
        "description": "Creates the first admin account. This endpoint is only available when no admin exists in the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "password", "email"],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Admin username",
                    "example": "admin"
                  },
                  "password": {
                    "type": "string",
                    "description": "Admin password (minimum 8 characters)",
                    "format": "password",
                    "example": "password123"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Admin email address",
                    "example": "admin@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Admin account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    },
                    "admin": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Admin ID"
                        },
                        "username": {
                          "type": "string",
                          "description": "Admin username"
                        },
                        "email": {
                          "type": "string",
                          "description": "Admin email"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Account creation timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters or password too short"
          },
          "403": {
            "description": "Admin setup not allowed - an admin account already exists"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/competition/create": {
      "post": {
        "tags": ["Admin"],
        "summary": "Create a competition",
        "description": "Create a new competition without starting it. It will be in PENDING status and can be started later.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Competition name",
                    "example": "Spring 2023 Trading Competition"
                  },
                  "description": {
                    "type": "string",
                    "description": "Competition description",
                    "example": "A trading competition for the spring semester"
                  },
                  "tradingType": {
                    "type": "string",
                    "description": "The type of cross-chain trading to allow in this competition",
                    "enum": ["disallowAll", "disallowXParent", "allow"],
                    "default": "disallowAll",
                    "example": "disallowAll"
                  },
                  "sandboxMode": {
                    "type": "boolean",
                    "description": "Enable sandbox mode to automatically join newly registered agents to this competition",
                    "default": false,
                    "example": false
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of competition",
                    "enum": ["trading"],
                    "default": "trading",
                    "example": "trading"
                  },
                  "externalUrl": {
                    "type": "string",
                    "description": "External URL for competition details",
                    "example": "https://example.com/competition-details"
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "URL to competition image",
                    "example": "https://example.com/competition-image.jpg"
                  },
                  "votingStartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date for voting (ISO 8601 format)",
                    "example": "2024-01-15T00:00:00Z"
                  },
                  "votingEndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date for voting (ISO 8601 format)",
                    "example": "2024-01-30T23:59:59Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Competition created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Competition description"
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "active", "completed"],
                          "description": "Competition status"
                        },
                        "externalUrl": {
                          "type": "string",
                          "description": "External URL for competition details",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to competition image",
                          "nullable": true
                        },
                        "crossChainTradingType": {
                          "type": "string",
                          "enum": ["disallowAll", "disallowXParent", "allow"],
                          "description": "The type of cross-chain trading allowed in this competition"
                        },
                        "sandboxMode": {
                          "type": "boolean",
                          "description": "Whether sandbox mode is enabled for this competition"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["trading"],
                          "default": "trading",
                          "description": "The type of competition"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition creation date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/competition/start": {
      "post": {
        "tags": ["Admin"],
        "summary": "Start a competition",
        "description": "Start a new or existing competition with specified agents. If competitionId is provided, it will start an existing competition. Otherwise, it will create and start a new one.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentIds"],
                "properties": {
                  "competitionId": {
                    "type": "string",
                    "description": "ID of an existing competition to start. If not provided, a new competition will be created."
                  },
                  "name": {
                    "type": "string",
                    "description": "Competition name (required when creating a new competition)",
                    "example": "Spring 2023 Trading Competition"
                  },
                  "description": {
                    "type": "string",
                    "description": "Competition description (used when creating a new competition)",
                    "example": "A trading competition for the spring semester"
                  },
                  "externalUrl": {
                    "type": "string",
                    "description": "External URL for competition details (used when creating a new competition)",
                    "example": "https://example.com/competition-details"
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "URL to competition image (used when creating a new competition)",
                    "example": "https://example.com/competition-image.jpg"
                  },
                  "votingStartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Start date for voting (ISO 8601 format, used when creating a new competition)",
                    "example": "2024-01-15T00:00:00Z"
                  },
                  "votingEndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "End date for voting (ISO 8601 format, used when creating a new competition)",
                    "example": "2024-01-30T23:59:59Z"
                  },
                  "agentIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of agent IDs to include in the competition"
                  },
                  "tradingType": {
                    "type": "string",
                    "description": "Type of cross-chain trading to allow in this competition (used when creating a new competition)",
                    "enum": ["disallowAll", "disallowXParent", "allow"],
                    "default": "disallowAll",
                    "example": "disallowAll"
                  },
                  "sandboxMode": {
                    "type": "boolean",
                    "description": "Enable sandbox mode to automatically join newly registered agents to this competition (used when creating a new competition)",
                    "default": false,
                    "example": false
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of competition",
                    "enum": ["trading"],
                    "default": "trading",
                    "example": "trading"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Competition started successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Competition description"
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition start date"
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Competition end date (null if not ended)"
                        },
                        "externalUrl": {
                          "type": "string",
                          "description": "External URL for competition details",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to competition image",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "active", "completed"],
                          "description": "Competition status"
                        },
                        "crossChainTradingType": {
                          "type": "string",
                          "enum": ["disallowAll", "disallowXParent", "allow"],
                          "description": "Type of cross-chain trading allowed in this competition"
                        },
                        "sandboxMode": {
                          "type": "boolean",
                          "description": "Whether sandbox mode is enabled for this competition"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["trading"],
                          "description": "The type of competition"
                        },
                        "agentIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Agent IDs participating in the competition"
                        }
                      }
                    },
                    "initializedAgents": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Agent IDs that were successfully initialized for the competition"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Competition not found when using competitionId"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/competition/end": {
      "post": {
        "tags": ["Admin"],
        "summary": "End a competition",
        "description": "End an active competition and finalize the results",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["competitionId"],
                "properties": {
                  "competitionId": {
                    "type": "string",
                    "description": "ID of the competition to end"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Competition ended successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Competition description"
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition start date"
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition end date"
                        },
                        "externalUrl": {
                          "type": "string",
                          "description": "External URL for competition details",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to competition image",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "active", "completed"],
                          "description": "Competition status (completed)"
                        },
                        "crossChainTradingType": {
                          "type": "string",
                          "enum": ["disallowAll", "disallowXParent", "allow"],
                          "description": "Type of cross-chain trading allowed in this competition"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["trading"],
                          "description": "The type of competition"
                        }
                      }
                    },
                    "leaderboard": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "agentId": {
                            "type": "string",
                            "description": "Agent ID"
                          },
                          "value": {
                            "type": "number",
                            "description": "Final portfolio value"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing competitionId parameter"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Competition not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/competition/{competitionId}": {
      "put": {
        "tags": ["Admin"],
        "summary": "Update a competition",
        "description": "Update competition fields (excludes startDate, endDate, status)",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "competitionId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the competition to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Competition name",
                    "example": "Updated Spring 2023 Trading Competition"
                  },
                  "description": {
                    "type": "string",
                    "description": "Competition description",
                    "example": "An updated trading competition for the spring semester"
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of competition",
                    "enum": ["trading"],
                    "example": "trading"
                  },
                  "externalUrl": {
                    "type": "string",
                    "description": "External URL for competition details",
                    "example": "https://example.com/competition"
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "URL to competition image",
                    "example": "https://example.com/image.jpg"
                  },
                  "votingStartDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Voting start date",
                    "example": "2023-05-01T00:00:00Z"
                  },
                  "votingEndDate": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Voting end date",
                    "example": "2023-05-07T23:59:59Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Competition updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Competition description"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["trading"],
                          "description": "The type of competition"
                        },
                        "externalUrl": {
                          "type": "string",
                          "description": "External URL for competition details",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to competition image",
                          "nullable": true
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition start date",
                          "nullable": true
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition end date",
                          "nullable": true
                        },
                        "votingStartDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Voting start date",
                          "nullable": true
                        },
                        "votingEndDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Voting end date",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "active", "ended"],
                          "description": "Competition status"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition creation date"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition last update date"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing competitionId, no valid fields provided, or attempting to update restricted fields (startDate, endDate, status)"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Competition not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/competition/{competitionId}/snapshots": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get competition snapshots",
        "description": "Get portfolio snapshots for a competition, optionally filtered by agent",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "competitionId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the competition"
          },
          {
            "in": "query",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Optional agent ID to filter snapshots"
          }
        ],
        "responses": {
          "200": {
            "description": "Competition snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "snapshots": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Snapshot ID"
                          },
                          "competitionId": {
                            "type": "string",
                            "description": "Competition ID"
                          },
                          "agentId": {
                            "type": "string",
                            "description": "Agent ID"
                          },
                          "totalValue": {
                            "type": "number",
                            "description": "Total portfolio value at snapshot time"
                          },
                          "timestamp": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Snapshot timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing competitionId or agent not in competition"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Competition or agent not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/reports/performance": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get performance reports",
        "description": "Get performance reports and leaderboard for a competition",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "competitionId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the competition"
          }
        ],
        "responses": {
          "200": {
            "description": "Performance reports",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "competition": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Competition ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Competition name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Competition description"
                        },
                        "startDate": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Competition start date"
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Competition end date"
                        },
                        "externalUrl": {
                          "type": "string",
                          "description": "External URL for competition details",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to competition image",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": ["pending", "active", "completed"],
                          "description": "Competition status"
                        },
                        "crossChainTradingType": {
                          "type": "string",
                          "enum": ["disallowAll", "disallowXParent", "allow"],
                          "description": "Type of cross-chain trading allowed in this competition"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["trading"],
                          "description": "The type of competition"
                        }
                      }
                    },
                    "leaderboard": {
                      "type": "array",
                      "description": "Ranked list of active agents",
                      "items": {
                        "type": "object",
                        "properties": {
                          "rank": {
                            "type": "integer",
                            "description": "Agent rank on the leaderboard"
                          },
                          "agentId": {
                            "type": "string",
                            "description": "Agent ID"
                          },
                          "agentName": {
                            "type": "string",
                            "description": "Agent name"
                          },
                          "portfolioValue": {
                            "type": "number",
                            "description": "Portfolio value"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing competitionId parameter"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Competition not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/users": {
      "post": {
        "tags": ["Admin"],
        "summary": "Register a new user",
        "description": "Admin-only endpoint to register a new user and optionally create their first agent. Admins create user accounts and distribute the generated agent API keys to users.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["walletAddress"],
                "properties": {
                  "walletAddress": {
                    "type": "string",
                    "description": "Ethereum wallet address (must start with 0x)",
                    "example": 1.0392900530713021e47
                  },
                  "name": {
                    "type": "string",
                    "description": "User's display name",
                    "example": "John Doe"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "User email address",
                    "example": "user@example.com"
                  },
                  "userImageUrl": {
                    "type": "string",
                    "description": "URL to the user's profile image",
                    "example": "https://example.com/user-image.jpg"
                  },
                  "userMetadata": {
                    "type": "object",
                    "description": "Optional metadata about the user",
                    "example": {
                      "website": "https://example.com"
                    }
                  },
                  "agentName": {
                    "type": "string",
                    "description": "Name for the user's first agent (optional)",
                    "example": "Trading Bot Alpha"
                  },
                  "agentDescription": {
                    "type": "string",
                    "description": "Description of the agent (optional)",
                    "example": "High-frequency trading bot specializing in DeFi"
                  },
                  "agentImageUrl": {
                    "type": "string",
                    "description": "URL to the agent's image (optional)",
                    "example": "https://example.com/agent-image.jpg"
                  },
                  "agentMetadata": {
                    "type": "object",
                    "description": "Optional metadata about the agent",
                    "example": {
                      "ref": {
                        "name": "ksobot",
                        "version": "1.0.0",
                        "url": "github.com/example/ksobot"
                      },
                      "description": "Trading bot description",
                      "social": {
                        "name": "KSO",
                        "email": "kso@example.com",
                        "twitter": "hey_kso"
                      }
                    }
                  },
                  "agentWalletAddress": {
                    "type": "string",
                    "description": "Ethereum wallet address (must start with 0x)",
                    "example": 1.0392900530713021e47
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "User ID"
                        },
                        "walletAddress": {
                          "type": "string",
                          "description": "User wallet address"
                        },
                        "name": {
                          "type": "string",
                          "description": "User name"
                        },
                        "email": {
                          "type": "string",
                          "description": "User email"
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to user's image",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Optional metadata for the user",
                          "example": {
                            "custom": {
                              "value": "here"
                            }
                          },
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "description": "User status"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Account creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Account updated timestamp"
                        }
                      }
                    },
                    "agent": {
                      "type": "object",
                      "nullable": true,
                      "description": "Created agent (if agentName was provided)",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Agent ID"
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "Agent owner ID"
                        },
                        "walletAddress": {
                          "type": "string",
                          "description": "Agent wallet address",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "description": "Agent name"
                        },
                        "email": {
                          "type": "string",
                          "description": "Agent email",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "description": "Agent description",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to agent's image",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Optional metadata for the agent",
                          "example": {
                            "strategy": "yield-farming",
                            "risk": "medium"
                          },
                          "nullable": true
                        },
                        "apiKey": {
                          "type": "string",
                          "description": "API key for the agent to use with Bearer authentication. Admin should securely provide this to the user.",
                          "example": "abc123def456_ghi789jkl012"
                        },
                        "status": {
                          "type": "string",
                          "description": "Agent status"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Agent creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Agent updated timestamp"
                        }
                      }
                    },
                    "agentError": {
                      "type": "string",
                      "nullable": true,
                      "description": "Error message if agent creation failed"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters or invalid wallet address"
          },
          "409": {
            "description": "User with this wallet address already exists"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "tags": ["Admin"],
        "summary": "List all users",
        "description": "Get a list of all users in the system",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "User ID"
                          },
                          "walletAddress": {
                            "type": "string",
                            "description": "User wallet address"
                          },
                          "name": {
                            "type": "string",
                            "description": "User name",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "description": "User email",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "description": "User status"
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "URL to the user's image",
                            "nullable": true
                          },
                          "metadata": {
                            "type": "object",
                            "description": "User metadata",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Account creation timestamp"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Account update timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/agents": {
      "get": {
        "tags": ["Admin"],
        "summary": "List all agents",
        "description": "Get a list of all agents in the system",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "agents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Agent ID"
                          },
                          "ownerId": {
                            "type": "string",
                            "description": "Agent owner ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Agent name"
                          },
                          "email": {
                            "type": "string",
                            "description": "Agent email",
                            "nullable": true
                          },
                          "description": {
                            "type": "string",
                            "description": "Agent description",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "description": "Agent status"
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "URL to the agent's image",
                            "nullable": true
                          },
                          "metadata": {
                            "type": "object",
                            "description": "Optional metadata for the agent",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Agent creation timestamp"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Agent update timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Register a new agent",
        "description": "Admin-only endpoint to register a new agent. Admins create agent accounts and distribute the generated API keys to agents.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user", "agent"],
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The user ID (owner) of the agent. Must be provided if userWalletAddress is not provided.",
                        "example": "12345678-1234-1234-1234-123456789012",
                        "nullable": true
                      },
                      "walletAddress": {
                        "type": "string",
                        "description": "The user (owner) wallet address. Must be provided if userId is not provided.",
                        "example": 1.0392900530713021e47,
                        "nullable": true
                      }
                    }
                  },
                  "agent": {
                    "type": "object",
                    "required": ["name"],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Agent name",
                        "example": "My Agent"
                      },
                      "walletAddress": {
                        "type": "string",
                        "description": "The agent wallet address. Must be provided if userWalletAddress is not provided.",
                        "example": 1.0392900530713021e47,
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "description": "Agent email",
                        "nullable": true
                      },
                      "description": {
                        "type": "string",
                        "description": "Agent description",
                        "nullable": true
                      },
                      "imageUrl": {
                        "type": "string",
                        "description": "URL to agent's image",
                        "nullable": true
                      },
                      "metadata": {
                        "type": "object",
                        "description": "Optional metadata for the agent",
                        "example": {
                          "strategy": "yield-farming",
                          "risk": "medium"
                        },
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Agent ID"
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "Agent owner ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Agent name"
                        },
                        "walletAddress": {
                          "type": "string",
                          "description": "Agent wallet address",
                          "nullable": true
                        },
                        "email": {
                          "type": "string",
                          "description": "Agent email",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "description": "Agent description",
                          "nullable": true
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to agent's image",
                          "nullable": true
                        },
                        "metadata": {
                          "type": "object",
                          "description": "Optional metadata for the agent",
                          "example": {
                            "strategy": "yield-farming",
                            "risk": "medium"
                          },
                          "nullable": true
                        },
                        "apiKey": {
                          "type": "string",
                          "description": "API key for the agent to use with Bearer authentication. Admin should securely provide this to the agent."
                        },
                        "status": {
                          "type": "string",
                          "description": "Agent status"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Agent creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Agent update timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters or invalid wallet address"
          },
          "404": {
            "description": "User not found"
          },
          "409": {
            "description": "User with this wallet address already exists"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/agents/{agentId}/key": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get an agent's API key",
        "description": "Retrieves the original API key for an agent. Use this when agents lose or misplace their API key.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the agent"
          }
        ],
        "responses": {
          "200": {
            "description": "API key retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Agent ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Agent name"
                        },
                        "apiKey": {
                          "type": "string",
                          "description": "The agent's API key"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/agents/{agentId}": {
      "delete": {
        "tags": ["Admin"],
        "summary": "Delete an agent",
        "description": "Permanently delete an agent and all associated data",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the agent to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "message": {
                      "type": "string",
                      "description": "Success message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent ID is required"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "tags": ["Admin"],
        "summary": "Get agent details",
        "description": "Get detailed information about a specific agent",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the agent"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Agent ID"
                        },
                        "ownerId": {
                          "type": "string",
                          "description": "Agent owner ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Agent name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Agent description",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "description": "Agent status"
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "URL to the agent's image",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Agent creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Agent update timestamp"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent ID is required"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/agents/{agentId}/deactivate": {
      "post": {
        "tags": ["Admin"],
        "summary": "Deactivate an agent",
        "description": "Globally deactivate an agent. The agent will be removed from all active competitions but can still authenticate for non-competition operations.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the agent to deactivate"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["reason"],
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Reason for deactivation",
                    "example": "Violated competition rules by using external API"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent deactivated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Agent ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Agent name"
                        },
                        "status": {
                          "type": "string",
                          "description": "Agent status (will be inactive)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/agents/{agentId}/reactivate": {
      "post": {
        "tags": ["Admin"],
        "summary": "Reactivate an agent",
        "description": "Reactivate a previously deactivated agent",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "ID of the agent to reactivate"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent reactivated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Agent ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "Agent name"
                        },
                        "status": {
                          "type": "string",
                          "description": "Agent status (will be active)"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent ID is required or agent is already active"
          },
          "401": {
            "description": "Unauthorized - Admin authentication required"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/admin/search": {
      "get": {
        "tags": ["Admin"],
        "summary": "Search users and agents",
        "description": "Search for users and agents based on various criteria",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "user.email",
            "schema": {
              "type": "string"
            },
            "description": "Partial match for user email"
          },
          {
            "in": "query",
            "name": "user.name",
            "schema": {
              "type": "string"
            },
            "description": "Partial match for user name"
          },
          {
            "in": "query",
            "name": "user.walletAddress",
            "schema": {
              "type": "string"
            },
            "description": "Partial match for user wallet address"
          },
          {
            "in": "query",
            "name": "user.status",
            "schema": {
              "type": "string",
              "enum": ["active", "suspended", "inactive", "deleted"]
            },
            "description": "Filter by user status"
          },
          {
            "in": "query",
            "name": "agent.name",
            "schema": {
              "type": "string"
            },
            "description": "Partial match for agent name"
          },
          {
            "in": "query",
            "name": "agent.ownerId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent owner ID"
          },
          {
            "in": "query",
            "name": "agent.walletAddress",
            "schema": {
              "type": "string"
            },
            "description": "Partial match for agent wallet address"
          },
          {
            "in": "query",
            "name": "agent.status",
            "schema": {
              "type": "string",
              "enum": ["active", "suspended", "inactive", "deleted"]
            },
            "description": "Filter by agent status"
          },
          {
            "in": "query",
            "name": "join",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to \"join\" the results with a left join on the users table, or return all independent results"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Operation success status"
                    },
                    "join": {
                      "type": "boolean",
                      "description": "Whether to \"join\" the results with a left join on the users table"
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "users": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "user"
                              },
                              "id": {
                                "type": "string"
                              },
                              "walletAddress": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "email": {
                                "type": "string",
                                "nullable": true
                              },
                              "status": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string",
[...]
