# This is a test docker-compose file that is not intended for production use!
services:
  trading-simulator-app:
    image: textile/js-recall:latest
    restart: always
    ports:
      - "3000:3000"
    # Load all environment variables from .env file
    env_file:
      - ../.env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://127.0.0.1:3000${API_PREFIX:+/${API_PREFIX}}/api/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  db:
    image: postgres
    restart: always
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: recall
      POSTGRES_USER: recall
      POSTGRES_PASSWORD: recall

volumes:
  postgres-data:
