# This is a test docker-compose file that is not intended for production use!

name: compapp-test

services:
  trading-simulator-app:
    image: textile/js-recall:latest
    restart: always
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
      - "${METRICS_PORT:-3003}:${METRICS_PORT:-3003}"
    # Load all environment variables from .env file
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://recall:recall@db/recall
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget --no-verbose --tries=1 --spider http://127.0.0.1:${PORT:-3000}${API_PREFIX:+/${API_PREFIX}}/api/health || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  db:
    image: postgres:17-alpine
    restart: always
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: recall
      POSTGRES_USER: recall
      POSTGRES_PASSWORD: recall

volumes:
  postgres-data:
