name: Code Quality

on:
  push:
    branches:
      - main
  pull_request:

env:
  NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID: fe319abf1a1b0d76b39894e5e17aff0c
  NEXT_PUBLIC_CHAIN_NAME: testnet

jobs:
  quality:
    name: Check lint, format, and build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install Dependencies
        run: pnpm install

      - name: Run Lint Check
        run: pnpm lint

      # TODO: uncomment this once type issues are fixed
      # Note: it doesn't error locally, but only in CI
      # - name: Run Type Check
      #   run: pnpm check-types

      - name: Run Format Check
        run: pnpm format:check

      - name: Check for incorrect, missing, or duplicate database migrations
        shell: bash
        run: bash scripts/check-migrations.sh

      - name: Run Build
        run: pnpm build
